/* ===============================
   ESTILOS DE LA PÁGINA DE DETALLE DE GÉNERO
   =============================== */

.genre-detail-container {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 0 2rem;
}

.genre-detail-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  font-family: "Poppins";
  text-align: center;
}
.genre-section {
  margin-bottom: 3rem;
}

.genre-section-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  font-family: "Poppins";
}

.genre-section-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1.5rem;
}

.artist-card {
  text-align: center;
  background: #111;
  border-radius: 12px;
  padding: 1rem;
  color: white;
  transition: transform 0.3s ease;
}

.artist-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.artist-card:hover {
  transform: scale(1.05);
}

.album-card {
  display: flex;
  background: #111;
  padding: 1rem;
  border-radius: 12px;
  color: white;
  gap: 1rem;
  align-items: center;
  transition: transform 0.3s ease;
}

.album-card img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.album-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.album-info span {
  opacity: 0.7;
}

.album-card:hover {
  transform: scale(1.03);
}



